<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Support</title>
  <link rel='stylesheet' href='https://unpkg.com/@ditdot-dev/vue-flow-form@1.1.2/dist/vue-flow-form.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;900&amp;display=swap'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app"></div>

<script type="x-template" id="app-template">
  <flow-form
    ref="flowform"
    v-on:complete="onComplete"
    v-bind:questions="questions"
    v-bind:language="language"
    v-bind:progressbar="false"
  >
    <!-- Custom content for the Complete/Submit screen slots in the FlowForm component -->
    <!-- We've overriden the default "complete" slot content -->
    <template v-slot:complete>
      <div class="section-wrap">
        <div v-if="questions[0].answer === 'technical_issue'">
          <span class="f-tagline">Submit issue &gt; Step 3/3</span>
          <div v-if="loading">
            <span class="fh2">Please wait, submitting your report.</span>
          </div>
          <div v-else>
            <span class="fh2">Your Report id is: {{ getTicket() }}</span>
            <p class="description"><span>Thank You 😊. Our support team will contact you as soon as possible.</span></p>
          </div>
        </div>
        <div v-else>
          <span class="f-tagline">Support page &gt; Report issue</span>
          <span class="fh2">Good news - the wheels are turning, your report or issue is being processed!😉</span>
        </div>
      </div>  
    </template>

    <!-- We've overriden the default "completeButton" slot content -->
    <template v-slot:completeButton>
      <div class="f-submit">
        <!-- Leave empty to hide default submit button -->
      </div>
    </template>
  </flow-form>
</script>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
<script src='https://unpkg.com/@ditdot-dev/vue-flow-form@1.1.2'></script><script  src="./script.js"></script>

</body>
</html>
